body {
    box-sizing: border-box;
}




.jumbotron {
    text-align: center; 
    border: 5px; 
    border-style: solid; 
    border-color: black
}

.body2 {
    float: right;
    margin-left: 50%;
}

